# Ignore everything
/*

# Except
!fish/
!alacritty/
!vim/
!.gitignore
!git/
!i3/
!i3blocks/
!bashrc
!sway/
!ctags/
!bin/newproject
!NewProject
!neomutt
!environment.d
!pam_environment
!vdirsyncer/
!notmuch-config
!systemd/
!offlineimap


# But still
vim/spell/en.utf-8.add.spl
fish/fishd.*
**/.mypy_cache
**/*.pyc
