[submodule "local/share/nvim/site/pack/lkml/start/lkml.vim"]
	path = local/share/nvim/site/pack/lkml/start/lkml.vim
	url = git@github.com:thalesmello/lkml.vim.git
[submodule "pikaur"]
	path = pikaur
	url = git@github.com:actionless/pikaur.git
[submodule "config/vim/pack/default/mucomplete"]
	path = config/vim/pack/default/mucomplete
	url = git@github.com:lifepillar/vim-mucomplete.git
[submodule "config/vim/pack/default/vim-repeat"]
	path = config/vim/pack/default/vim-repeat
	url = git@github.com:tpope/vim-repeat.git
[submodule "config/vim/pack/default/vim-surround"]
	path = config/vim/pack/default/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "config/vim/pack/default/indentpython"]
	path = config/vim/pack/default/indentpython
	url = git@github.com:vim-scripts/indentpython.vim.git
[submodule "config/vim/pack/default/tsuquyomi"]
	path = config/vim/pack/default/tsuquyomi
	url = git@github.com:Quramy/tsuquyomi.git
