.mypy_cache/

# gnome settings, used for firefox etc
dconf/

# mimeaps determines the default application, which I probably don't want to port
mimeapps.list

# htop config determines which columns are displayed by default
# I am uncertain how much I want to prescribe default top columns
htop/

# pulseaudio configuration should be done computer by computer
pulse/

# slack does not separate data files from config files
Slack/

# zoom should be configured per computer
zoomus.conf
Unknown Organization/
