[Unit]
Description=Redshift display colour temperature adjustment
Documentation=http://jonls.dk/redshift/
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/sh -c '/usr/bin/redshift -l $(pass location)'
Restart=always

[Install]
WantedBy=sway-session.target
